################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JaiSankar.BookStore/.vs/JaiSankar.BookStore
/JaiSankar.BookStore/JaiSankar.BookStore/bin/Debug/netcoreapp3.1
/JaiSankar.BookStore/JaiSankar.BookStore/obj
